@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <div style="margin-left:25%;"><img src="~/Pictures/logo-2015.png" /></div>
     <p class="lead" style="text-align:center;"><p>We offer high quality clothing for the office,outdoor and everyday life.We should always offer inspiring fashion with unbeatable value for money.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About CCC</h2>
        <p>
            CCC design team creates sustainable fashion for all, always at the best price. The collections include everything from dazzling (...) </p>
        <p><a class="btn btn-default" style="margin-top: 145px;" href="http://localhost:4444/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow us</h2>
        <p><div><img src="~/Pictures/social-media-icons.png" style="width: 350px;" /></div></p>
<p><a class="btn btn-default" style="margin-top: 60px;" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class Diagram</h2>
        <div><img src="~/Pictures/Klassdiagram.png" style="width: 350px;"/></div>
        <p> </p>
        <p><a class="btn btn-default" href="http://localhost:4444/Pictures/Klassdiagram.png"  ">Bigger picture &raquo;</a></p>
    </div>
</div>