@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <div style="text-align:center;"><img src="~/Pictures/logo-2015.png" /></div>
     <p class="lead"><p style="text-align:center;">We offer high quality clothing for the office,outdoor and everyday life. 
    Fashion & Clothing number one priority is to offer inspiring fashion combined with unbeatable prices for both private customers as well as corporate customers!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            The Fashion & Clothing teams offer sustainable fashion for all, and always at best possible prices. The collections include everything from dazzling (...) </p>
        <p><a class="btn btn-default" style="margin-top: 85px;" href="http://localhost:4444/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow us to stay updated!</h2>
        <div><img src="~/Pictures/social-media-icons.png" style="width: 250px; height: 150px;" /></div>
<p><a class="btn btn-default"  href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class Diagram</h2>
        <div><img src="~/Pictures/webshopdbclassdiagram.png" style="width: 350px; height: 150px;"/></div> 
        <p><a class="btn btn-default" href="http://localhost:4444/Pictures/webshopdbclassdiagram.png" >Bigger picture &raquo;</a></p>
 </div>
</div>